
//
// Load core variables and mixins
// --------------------------------------------------
// @import "_variables.scss";
$body-bg:             transparent !default;
$fa-font-path:        "fonts" !default;

@import "bootstrap";
@import "font-awesome";

// Custom classes for dark theme
// @import "_bootswatch.scss";




// ================================================== */
// ==/ Globals /================================================ */
// ================================================== */



//
// Icons
// -------------------------------------

// Bordered & Pulled
.fa-border {
  padding: .2em .25em .15em;
  border: solid .08em $body-color;
  border-radius: .1em;
}

.fa-pull-left { float: left; }
.fa-pull-right { float: right; }

.fa {
  &.fa-pull-left { margin-right: .3em; }
  &.fa-pull-right { margin-left: .3em; }
}

// Custom sizes
$size-list: 1 2 3 4 5 6;
@each $value in $size-list {
  $i: index($size-list, $value);
  .fa-x#{$i} { 
      font-size: #{$value}em;
  }
}
.fa-lg {font-size: 1.5em;}





//
// Sticky
// -------------------------------------
html, body {
  height: 100%;
}

.fixedsticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off,
.fixed-supported .fixedsticky-off {
  position: static;
}
.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on {
  position: fixed;
}
.fixedsticky-dummy {
  display: none;
}
.fixedsticky-on + .fixedsticky-dummy {
  display: block;
}

.top, .bottom {
  width: 100%;
  position: absolute;
  z-index: 1030;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}



//
// Navigation
// -------------------------------------
.top-navigation {
  width: 100%;
}



 


//
// Video call participants
// -------------------------------------
.video-call-participants {
  width: 100%;
  [class^="container"] > .row > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}



/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 120px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 120px;
    width: 0;
    height: 100%;
    margin-left: -120px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 120px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -120px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    padding: 0 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 120px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 120px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}





/*!
 * Start Bootstrap - The Big Picture HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

.full {
  background: url(http://placehold.it/1920x1080) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




/// ================================================== */
// ==/ MISC /================================================ */
// ================================================== */

// Custom spacing
$spacing-list: (
  m    top       margin           $grid-gutter-width,
  m    bottom    margin        $grid-gutter-width,
  m    left      margin          $grid-gutter-width,
  m    right     margin         $grid-gutter-width,
  p    top       padding           $grid-gutter-width,
  p    bottom    padding        $grid-gutter-width,
  p    left      padding          $grid-gutter-width,
  p    right     padding         $grid-gutter-width,
);
@each $value in $spacing-list {
  .#{nth($value, 1)}-#{nth($value, 2)} {
    #{nth($value, 3)}-#{nth($value, 2)}: nth($value, 4);
  }
  .#{nth($value, 1)}-#{nth($value, 2)}-lg {
      #{nth($value, 3)}-#{nth($value, 2)}: (nth($value, 4) * 2);
    }
}
.m-all {
  margin: $grid-gutter-width;
}
.p-all {
  padding: $grid-gutter-width;
}

// Custom floats
$float-list: (
  left    lg     1200px,
  left    md     992px,
  left    sm     768px,
  left    xs     544px,
  right   lg     1200px,
  right   md     992px,
  right   sm     768px,
  right   xs     544px
);
@each $value in $float-list {
  .pull-#{nth($value, 1)}-#{nth($value, 2)} {
    @media (min-width: nth($value, 3) ) {
      float: nth($value, 1) !important;
    }
  }
}

// Custom text align
$align-list: (
  left    lg     1200px,
  left    md     992px,
  left    sm     768px,
  left    xs     544px,
  right   lg     1200px,
  right   md     992px,
  right   sm     768px,
  right   xs     544px
);
@each $value in $align-list {
  .text-#{nth($value, 1)}-#{nth($value, 2)} {
    @media (min-width: nth($value, 3) ) {
      text-align: nth($value, 1);
    }
  }
}
